@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "var(--font-suit)";
}

/* typography styles */
@layer components {
  .typo-header-1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0;
  }

  .typo-header-1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
  }

  .typo-subtitle-1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
  }

  .typo-subtitle-2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
  }

  .typo-body-1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
  }

  .typo-body-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .typo-body-3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0;
  }
}

/* button styles */
@layer components {
  .typo-button-1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
  }

  .typo-button-2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
}
